app.json
Moses Onafuye_Sales Order Release II_7.5.25.1.app
Moses Onafuye_SO_Release_II_1.0.0.0.app
.alpackages/Microsoft_Application_26.0.30643.32695.app
.alpackages/Microsoft_Base Application_26.0.30643.33533.app
.alpackages/Microsoft_Business Foundation_26.0.30643.32695.app
.alpackages/Microsoft_System Application_26.0.30643.32695.app
.alpackages/Microsoft_System_26.0.32004.0.app
.vscode/launch.json
.vscode/rad.json
Moses Onafuye_Sales Order Release II_7.5.25.2.app
Moses Onafuye_Sales Order Release II_7.5.25.3.app
